{% extends "layout.html" %} <!--Vai herdar a página layout-->
{% block content %}

<audio controls>
    <source src="{{ musicJ[0]['fileURL']}}" type="audio/mp3">
    Audio não suportado pelo seu navegador
    </audio>

{% endblock %}


<!-- {% for m in musicJ %}
  <div>
    <p>{{ m.filename }}</p>
    <audio controls>
      <source src="{{ m.fileURL }}" type="audio/mp3">
      Seu navegador não suporta o player de áudio.
    </audio>
  </div>
{% endfor %} --> <!--Para mostrar que todos estão aqui-->