<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100&icon_names=favorite,home,search,settings" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    {% block head %} <!-- marcações para indicar ao jinja que estamos criando novos blocos -->
    <title>{% block title %}Fplayer{% endblock %}</title> <!--Essa demarcação mostra que o conteúdo pode ser sobrescrito por outra linguagem-->
    {% endblock %} <!-- Assim as páginas que vão herdar o layout podem cada uma ter o próprio título-->

    <script type ="text/javascript">
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $('.materilboxed').materialbox();
        });
    </script>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo center">FPlayer</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{url_for('home')}}">Home</a></li> <!-- Aqui a url vai ser gerada de forma dinâmica, chamará a função home-->
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li><a href="{{url_for('home')}}">Home</a></li>
            </ul>
        </div>
    </nav>
    <div id="content" class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>